<div>
    <h1 class="titulo font">{{titulo}}</h1>
    
    <p class="descripcion font">Escoja sus plataformas favoritas</p>
    <div class="global">
        <div class="plataformas">
            <button class="logoBtn" type="button" (click)="btnSelected()"><img class="logo" [src] ="plataforma[0]"></button>
            <button class="logoBtn" type="button" (click)="btnSelected()"><img class="logo" [src] ="plataforma[1]"></button>
        </div>
        <div class="plataformas">
            <button class="logoBtn" type="button" (click)="btnSelected()"><img class="logo" [src] ="plataforma[0]"></button>
            <button class="logoBtn" type="button" (click)="btnSelected()"><img class="logo" [src] ="plataforma[1]"></button>
        </div>
    </div>

    <button class="boton" [routerLink]="['/filtros']">{{boton}}</button>
</div>