<div>
    <h1 class="titulo font">{{titulo}}</h1>
    <h3 class="filtros font">{{filtros[0]}}</h3>
        <button class="genero font">{{genero[0]}}</button>
        <button class="genero font">{{genero[1]}}</button>
        <button class="genero font">{{genero[2]}}</button>
        <button class="genero font">{{genero[3]}}</button>
        <button class="genero font">{{genero[4]}}</button>
    <h3 class="filtros font">{{filtros[1]}}</h3>
    <h3 class="filtros font">{{filtros[2]}}</h3>
        <input class="input font" type="text" >
    <h3 class="filtros font">{{filtros[3]}}</h3>
        <input class="input font" type="text" >
    <h3 class="filtros font">{{filtros[4]}}</h3>
        <input class="input font" type="text" >
    <h3 class="filtros font">{{filtros[5]}}</h3>
        <input class="input font" type="text" >
    <h3 class="filtros font">{{filtros[6]}}</h3>
    <button class="genero font">{{idioma[0]}}</button>
    <button class="genero font">{{idioma[1]}}</button>
    <button class="genero font">{{idioma[2]}}</button>
    <button class="genero font">{{idioma[3]}}</button>
    <h3 class="filtros font">{{filtros[7]}}</h3>
        <button class="genero font">{{premio[0]}}</button>
        <button class="genero font">{{premio[1]}}</button>
        <button class="genero font">{{premio[2]}}</button>
    <!-- <p class="botonmas font">+</p> -->
    <button class="boton font" [routerLink]="['/peliculas']">{{boton}}</button>
    <p class="pie font">{{pie}}</p>
</div>
