.titulo{
    text-transform: capitalize;
    padding: 2%;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: #299FA3;
}

.filtros{
    text-transform: capitalize;
    padding: 2%;
    font-weight: 500;
    font-size: 15px;
    color: #299fa3bb;
}

.genero{
    width: 65px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 3%;
    margin-top: 1%;
    /* transform: translateX(-50%); */
    background-color: #c4baba;
    color: #F5F5F5;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: x-small;
    text-transform: uppercase;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
}

.input{
    margin-left: 3%;
    padding: 2%;
    position: relative;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    border-style: solid;
    border-color: #c4baba;
    overflow: hidden;
}

.boton{
    width: 210px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    margin-top: 10%;
    transform: translateX(-50%);
    color: #FFFFFF;
    background-color: #299FA3;
    border: none;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: medium;
    text-transform: uppercase;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 8px 0 #060e0e48, 0 6px 20px 0 #060e0e48;
}

.pie{
    font-weight: 350;
    font-size: smaller;
    margin: 5%;
    text-decoration: underline;
    text-align: center;
    color: #060E0E;
}